@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@100&display=swap');

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.header {
  background: #FFFBFA;
  padding: 20px;
  box-shadow:0px 10px  50px black;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

.menu {
  float: right;
  background: none;
  border: 1px solid black;
  padding: 10px;
}

.section1 {
  margin-top: 70px;
  background: #FFFBFA;
  padding: 20px;
  width: 650px;
  height: 400px;
  margin-left: 180px;
  box-shadow:0px 10px  50px black;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

.inner-section1 {
  border: 1px solid black;
  padding: 10px;
  width: 270px;
  display: inline-block;
}

.answer {
  padding: 10px;
  width: 270px;          
  border: 1px solid black;
  display: inline-block;
}

.menu :hover {
  background: black;
  color: white;
}

.title {
  font-size: 25px;
  border-bottom: 1px solid black;
}

.input {
  font-size: 17px;
  width: 200px;
  border: none;
  border-bottom: 1px solid black;
}

input:focus {
  outline: none;
}

.mdb-select-md-form {
  padding: 5px;
  width: 200px;
  background: none;
  border: 1px black solid;
  border-radius: 10px;
}

.mdb-select-md-form:hover {
  cursor: pointer;
}

.mdb-select-md-form:focus {
  cursor: pointer;
}

.calculate {
  width: 200px;
  background: none;
  border: 1px black solid;
  border-radius: 10px;
  padding: 7px;
  font-size: 15px;
}

.calculate:hover {
  cursor: pointer;
}

.answer1 {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}